@{
    ViewData["Title"] = "Details Page";
}
@model ShoppyWeb.ViewModel.ProductDetailsVm
<div class="container">
    <div class="row">
        <form method="post">
            <input hidden asp-for="pId" value="@Model.pId" />
            <input hidden asp-for="Price" id="ProductPrice" value="@Model.Price" />
            <div class="card shadow border-0 mt-4">
                <div class="card-header bg-secondary bg-gradient text-light py-4">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h3 class="text-white text-uppercase">@Model.pName</h3>
                            <p class="text-white-50 fw-semibold mb-0">@Model.pCode</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="py-3">
                        <div class="row">
                            <div class="col-6 col-md-2 offset-lg-1 pb-1">
                                <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                                    <small >Back to search</small>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">
                                <img data-src="\@Model.ImageUrl" data-holder-rendered="true" src="\@Model.ImageUrl" width="100%" asp-append-version="true" class="rounded" />
                            </div>
                            <div class="col-12 col-lg-6 offset-lg-1">

                                <div class="col-12 col-md-6 pb-4">
                                    <span class="badge">Category</span>
                                </div>
                                <div class="row ps-2">
                                    <h6 class="text-dark text-opacity-50 ">ISBN : @Model.pCode</h6>
                                </div>
                                <div class="row ps-2">
                                    <h6 class="text-dark text-opacity-50  pb-2">
                                        List Price:
                                        <span class="text-decoration-line-through">
                                            ListPrice
                                        </span>
                                    </h6>
                                </div>
                                @{
                                    int i = 1;
                                    int totalPrice = Model.Price * 1;
                                }
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Price</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">@i</th>
                                            <td>@Model.pName</td>
                                            <td id="quantity">1</td>
                                            <td id="individualPrice">@Model.Price</td>
                                        </tr>
                                        <tr>
                                            <th scope="col" colspan="4">Total Rs : <span id="totalPrice">@totalPrice</span></th>
                                        </tr>
                                    </tbody>
                                </table>
                        <div class="row pl-2 my-3">
                            <p class="text-secondary lh-sm">Description</p>
                        </div>
                        <div class="row pl-2 mb-3">
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary text-white border-0 fw-semibold"
                                          id="inputGroup-sizing-default">
                                        Count
                                    </span>
                                            <input onchange="calculateQuantity(this.value);" type="number" asp-for="Quantity" value="@Model.Quantity" class="form-control text-end"
                                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 pb-1">
                                <button type="submit" 
                                        class="btn btn-primary bg-gradient  w-100 py-2 text-uppercase fw-semibold">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
</div>
</div>
