@using ShoppyWeb.ViewModel
@{
    ViewData["Title"] = "List Permission";
}
@model PaginatedList<ListPermissionViewModel>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                <h3 class="card-title">List Permission</h3>
                <a class="btn btn-primary float-end" asp-controller="RoleManagement" asp-action="CreatePermission" role="button">Create Permission</a>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Id</th>
                            <th scope="col">Permission Name</th>
                            <th scope="col">Permission Value</th>
                            <th scope="col">Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int j = 1;
                        }
                        @if (Model.Items?.Count() == 0)
                        {
                            <tr >

                                <td colspan="5"><b>No Data Found.</b></td>
                                </tr>
                        }
                        else
                        {
                            @foreach (var permission in Model.Items)
                            {
                                <tr>
                                    <td scope="row">@j</td>
                                    <td scope="row">@permission.Id</td>
                                    <td>@permission.DispalyName</td>
                                    <td>@permission.PermissionName</td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="RoleManagement" asp-action="ListPermission" asp-route-id="@permission.Id" class="btn btn-danger">Delete Permission</a>
                                    </td>
                                </tr>
                                j++;
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            @*Paging*@
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <nav>
                        <ul class="pagination justify-content-end">
                            <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                                <a class="page-link text-black" asp-route-pageNumber="1"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                    <span>First</span>
                                </a>
                            </li>

                            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                                <a class="page-link text-black" asp-route-pageNumber="@(Model.PageIndex - 1)"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                    <span>Previous</span>
                                </a>
                            </li>

                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                    <a class="page-link text-black" asp-route-pageNumber="@i"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                                </li>
                            }

                            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                                <a class="page-link text-black" asp-route-pageNumber="@(Model.PageIndex + 1)"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                    <span>Next</span>
                                </a>
                            </li>
                            <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
                                <a class="page-link text-black" asp-route-pageNumber="@Model.TotalPages"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                    <span>Last</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>